.logo{
  height: 100%;
  display: inline-block;
  animation: logoRotate 4s infinite linear;
}
.logo img{
  height: 100%;
}
@keyframes logoRotate{
  100%{
    transform: rotate(360deg);
  }
}